

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
p{

    width: 33.3%;
    text-align: start;
}
i{
    color: darkblue;
}

ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 450px 10px 450px;
    border-bottom: 1px solid black;
}
ul{
    width: 100%;
}
span {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    margin: auto;
}

ul li span button{
    width: 29px;
    height: 29px;
}
button{
    background-color: white;
    cursor: pointer;
    outline: none;
}
label{
    margin: 10px;
}
    

/** header cointer**/

.header-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    margin-bottom: 58px;
    margin-top: 25px;
}

h1{
    display: flex;
    width: 11%;
    border-right: 1px solid;
    justify-content: left;
}
.show-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/***TOOLBAR***/
.show-menu input[type="radio"] {
    width: 0;
    position: fixed;
    opacity: 0;
  }
  
  .show-menu input[type="radio"]:checked + label, .show-menu input[type="radio"]:focus + label {
    border: 1px solid red;
  }


/**BODY-CONTAINER**/

.body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.wish-container {
    width: 52%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
}
input#wishlist {
    margin-right: 139px;
    margin-bottom: 9px;
    border: none;
    width: 319px;
    outline: none;
    height: 28px;
}

.list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 79px;
}
.buttom-final {
    width: 11.3%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.buttom-final button{
    width: 30px;
    height: 30px;
}

.buttom-star button{
    width: 30px;
    height: 30px;
}
.buttom-star {
    width: 24.3%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.list{
    width: 40%;
    text-align: end;
}
.container-add{
    width: 60%;
    text-align: end;
}
.p-container {
    display: flex;
    width: 63.3%;
    justify-content: flex-start;
}
.item-tachado{
    text-decoration: line-through;;
}

/***ESTILOS PARA LOS ICONOS DE FONTAWESOME***/
i.fa.fa-plus-circle {
    font-size: 30px;
}

i.fa.fa-check-circle {
    font-size: 29px;
    margin-right: 67px;
    color: green;
}
i.fa.fa-times{
    color: red;
    font-size: 30px;
}
i.fa.fa-circle-o {
    font-size: 29px;
    margin-right: 67px;
    color: black;
}
.item-list li .fa{
    cursor: pointer;
}
i.fa.fa-edit {
    color: blue;
    font-size: 29px;
    margin-right: 8px;
}

/***MEDIA QUERY**/
@media only screen  and (min-width:768px){
ul li {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 410px 10px 97px;
    border-bottom: 1px solid black;
    width: 71%;
}

h1{
    
        display: flex;
        width: 7%;
        border-right: 1px solid;
        justify-content: left;
    
    
}

}



@media only screen and (min-width:1100px){
    ul li {
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: 0 450px 10px 450px;
        border-bottom: 1px solid black;
        width: 66%;
    }

    ul {
        width: 57%;
    }
    
h1{
    
    display: flex;
    width: 4%;
    border-right: 1px solid;
    justify-content: left;


}

}